<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>my</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <link rel="favicon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../css/register-style.css">
    <meta name="robots" content="noindex, follow">
<body>
<div class="wrapper" style="background-image: url('../images/bg.jpg');">
    <div class="inner">
        <div class="image-holder welcome-image">
            <img src="../images/dog1.jpg" alt="dog1">
        </div>
        <form action="/api/member/modify-proc" method="post" id="modify-form">
            <h3>My Info</h3>
            <div class="form-group">
                <input type="text" name="firstName" placeholder="First Name" class="form-control" required>
                <input type="text" name="lastName" placeholder="Last Name" class="form-control" required>
            </div>
            <div class="form-wrapper">
                <input type="text" name="userId" placeholder="ID" class="form-control" required>
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" name="password" placeholder="Password" class="form-control" required>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Confirm Password" class="form-control" required>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" name="email" placeholder="Email Address" class="form-control" required>
                <i class="zmdi zmdi-email"></i>
            </div>
            <button type="button" id="modify-button">Modify
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
<script>
$(function(){
    getMyInfo();

    $("#modify-button").on("click", function(){ modify() });
});

function getMyInfo(){
    var token = getCookie("access_token");
    if(token != null){
        $.ajax({
            type : "GET",
            dataType : "json",
            async: true,
            processData: false,
            contentType: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader('Content-type', 'application/json');
                xhr.setRequestHeader('Authorization', 'Bearer ' + token);
            },
            url : "/api/member/getMyInfo",
            success : function(json) {
                console.log(json);
                if('success' == json.status){
                    var data = json.data;
                    var frm = document.forms[0];
                    frm.userId.value = data.userId;
                    frm.firstName.value = data.firstName;
                    frm.lastName.value = data.lastName;
                    frm.email.value = data.email;

                }else{
                    alert(json.message);
                }
            },
            error : function (jqXHR, textStatus, errorThrown){
                console.log('error===============\n');
                console.log(jqXHR);
            }
        });
    }else{
        location.href = '/';
    }
}

function modify(){
    console.log('modify');
    var data = new FormData(document.getElementById('modify-form'));
    $.ajax({
        type : "POST",
        dataType : "json",
        data : data,
        async: true,
        processData: false,
        contentType: false,
        url : "/api/member/modify-proc",
        success : function(json) {
            if('success' == json.status){
                alert('수정 성공');
                location.href = '/member/mypage';
            }else{
                alert(json.message);
                console.log(json);
            }
        },
        error : function (jqXHR, textStatus, errorThrown){
            console.log('error===============\n');
            console.log(jqXHR);
        }
    });
}
</script>
</body>
</html>